*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto slab";
    background-color: #dacdcd;
}

h1,a,p,h2,h3,li{
    font-style: none;
    list-style: none;
}
.container{
    padding: 0px 84px;
}
header{
    width: 100%;
    height: 71px;
    border-bottom: 2.5px solid #19191a8f;
    background-color: rgba(43, 41, 41, 0.7);
    position: fixed;
    top: 0;
    z-index: 10;
}
.header-left img{
    float: left;
    height: 78px;
    width: 165.75px;
}
.header-right a{
    text-decoration: none;
    color: #f0f2f5;
}
.header-right li{
    float: left;
    padding-left: 55px;
    line-height: 71px;
    font-size: 20px;
    font-weight: 500;
    
}
.header-right a:hover{
    color: #f0f2f5;
    transition: all 0.3s;
}
.header-right{
    float: right;
}
.intro{
    height: 550px;
}
.intro h2{
    margin-top: 210px;
    color:  #2a2a2b;
    font-size: 33px;
    font-weight: 500;
}
.intro h1{
    color:  #2a2a2b;
    font-size: 78px;
    margin-bottom: 10px;
    margin-top: 11px;
}
.intro img{
    float: right;
    position: relative;
    top: -340px;
    height: 493px;
}
.btn-intro{
    background-color: #FFD40D;
    color: #2a2a2b;
    width: fit-content;
    padding: 10px 40px;
    font-size: 25px;
    border-radius: 52px;
    margin-top: 30px;
    opacity: 0.75;
}
.btn-intro:hover{
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s;
}
.profile{
    height: 823px;
    background-color:  #3a3838;
}
.pict-profile {
    border-radius: 50%;
    width: 450px;
    height: 400px;
    border: 17px solid #FFD40D;
    margin: 98px 49px 98px 0;
}
.contents-profile{
    display: flex;
    flex-direction: row;
}
.info-cv h2{
    font-size: 46px;
    margin-top: 175px;
    margin-bottom: 42px;
}
.info-cv p{
    padding-top: 3px;
    font-size: 21px;
}
.info-cv h2,p {
    width: 600px;
    text-align: center;
    color: white;
}
.main{
    width: 100%;
}
.main-wrapper{
    background-color: rgb(230, 224, 224);
    width: 1033px;
    height: 470px;
    margin: -100px auto;
    border-radius: 33px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
}
.main-wrapper h1{
    text-align: center;
    padding: 34px 0 39px 0;
    font-size: 56px;
    color:  #FA881C;
}
.skills{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 100px 0 100px;
}
.skill{
    margin: 0 auto;
}
.skill h2{
    color: #3a3838;
    margin: 36px 0 12px 0;
}
.skill p{
    color: #6D6D6D; 
    width: 200px;
    font-size: 20px;
}
.myhobby{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(230, 224, 224);
    width: 1033px;
    height: 524px;
    margin: 50px auto;
    border-radius: 33px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
}
.hobby{
    width: 605px;
    margin: 89px 20px 102px 115px;
}
.pict-hobby{
    width: 138px;
    margin: 65px 88px 65px 20px;
}
.hobby h1{
    color: #FA881C;
}
.hobby p{
    color: rgb(44, 43, 43);
    text-align: left;
    width: 550px;
    margin-top: 18px;
    line-height: 30px;
}
.section3{
    text-align: center;
    color: #FA881C;
}
.socmed{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.socmed img{
    padding-left: 40px;
    padding-right: 40px;
}
footer{
    padding-top: 95px;
    margin-top: 70px;
    width: 100%;
    height: 230px;
    background-color: #3a3838;
}